.div-f {
  background-image: url(img/fondo.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-delante {
  width: 100px;
}

.img {
  width: 80px;
  height: 100px;
  margin-top: -250px;

}

header {
  background: url(img/fondo.jpg);
  background: cover;


}

.linkainfo {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: bolder;
  color: brown;
  margin-left: 1350px;

}

.first {
  background-color: #E6E6E6;
}

h1 {
  background-color: #C4C4C4;
  text-align: center;
  margin: 0 auto;
}

.clase2 {
  background-color: #C4C4C4;
  font-style: italic;
  font-weight: bold;
}

.clase3 {
  font-weight: bold;
  font-style: italic;
  margin-left: 30px;
}

.clase4 {
  background-color: #005677;
}

.div1 {
  margin-left: 0;
}

.clase5 {
  font-weight: bold;
  font-style: italic;
  /* text-align: right; */
}


.contenedor {
  width: 100%;
  text-align: center;
}

.git {
  font-family: 'Times New Roman', Times, serif;
  font-size: 35;
  font-weight: bold;
  color: white;
}